.image-video {
  position: relative;
  width: 500px;
  height: 500px;
}

.image1 {
  width: 450px;
  height: 450px;
  border-radius: 100%;
  margin: 40px 80px;
}

.image2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  right: 180px;
  bottom: 30px;
}
.image3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  z-index: 2px;
}

.image2.zoomed {
  width: 500px;
  height: 500px;
  transition: width 0.3s ease, height 0.3s ease; /* Add a smooth transition effect */
  border-radius: 0%;
  left: 500px;
}
.aboutUsStatement {
  margin-top: 30px;
}
.aboutUsHeader {
  margin-bottom: 10px;
  font-size: 30px;
  color: purple;
  font-family: monospace;
  font-weight: bold;
}
.aboutUsPage {
  padding: 10px;
}
.readMore {
  margin-bottom: 10px;
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.image-video-aboutUs {
  margin-top: 50px;
  margin-right: 20px;
}
.statement1,
.statement2 {
  text-align: justify;
}

@media (max-width: 1024px) {
  .image1 {
    width: 350px;
    height: 350px;
  }
  .image2 {
    width: 200px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    right: 500px;
    bottom: 80px;
  }
  .aboutUsHeader {
    margin-bottom: 10px;
    font-size: 30px;
    color: purple;
    font-family: monospace;
    font-weight: bold;
  }
}

@media (min-width: 664px) and (max-width: 768px) {
  .image1 {
    width: 350px;
    height: 350px;
  }
  .image3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: -30px;
  }
  .image2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    bottom: 90px;
  }
}

@media (min-width: 576px) and (max-width: 663px) {
  .image1 {
    width: 350px;
    height: 350px;
  }
  .image3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 5px;
    z-index: 2px;
  }
  .image2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    right: 180px;
    bottom: 100px;
  }
  .image2.zoomed {
    display: none;
  }
}
.mission,
.vision,
.history {
  text-align: justify !important;
  color: purple;
  font-family: monospace;
  font-size: 40px;
  margin-top: 10px;
}
.missionH5Tag,
.visionH5Tag,
.historyH5Tag {
  text-align: justify !important;
  color: gray;
}
.missionPTag,
.visionPTag,
.historyPTag {
  font-size: smaller;
}

.avatar {
  width: 250px;
  height: 250px;
}
.volunteers {
  text-align: center;
  color: purple;
}

.aboutUsPTag {
  color: rgb(182, 174, 174);
  font: smaller;
}
.volunteersPTag {
  color: rgb(182, 174, 174);
  font-size: 12px;
  text-align: center;
}
.bi-linkedin {
  width: 22px;
  height: 22px;
  margin-left: -14px;
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensures the content takes up the full height of the parent div */
}

.bi-github {
  width: 22px;
  height: 22px;
}
.bi-instagram {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
  margin: -10px; /* Adjust this value to control the gap size */
}

.card {
  width: 250px;
  margin: 10px;
}

/* .card-hover-bg1 {
  left: 25%;
  position: absolute;
  top: 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 9;
}
.card-hover-bg1:after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 0%;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
} */
