.headerDiv {
    background-color: violet;
    height: 120px;
    margin-bottom: 10px;
}
.aftermathPhoto1 {
    height: 300px;
    width: 500px;
}
.aftermathPhoto2 {
    height: 300px;
    width: 500px;
}
#contactFormSubmit {
    background-color: purple;
}
.contactPageP {
    width: 200px;
}