.countDownHeading {
  color: white;
  font-family: cursive;
  font-size: 25px;
}
.numberOfDays {
  display: flex;
}
.timeRemaining {
  text-shadow: -1px 3px 5px rgba(27, 24, 27, 0.5);
  color: #1b181b;
}
.timeRemainingFooter {
  background-color: purple;
  color: white;
}
.countdown-timer {
  background: linear-gradient(to bottom, #231834 50%, rgb(234, 229, 237) 50%);
  box-shadow: inset 2px -2px 14px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 30px;
  margin-top: 20px;
  border-radius: 5px;
}
.cardCounter {
  width: 200px;
  height: 155px;
}
/* Define the styles for screens with a maximum width of 768px (adjust the value as needed) */
@media (max-width: 768px) {
  .countdown-timer {
    width: 450px;
    height: 300px;
  }

  .timeRemainingFooter {
    text-align: center; /* Center-align the footer text */
  }

  .timeRemaining {
    font-size: 2rem; /* Adjust the font size of the countdown numbers */
  }
  .circular-progress {
    margin-right: -200px;
  }
}
@media (max-width: 1140px) {
  .countdown-timer {
    width: 380px;
    height: 300px;
  }

  .timeRemainingFooter {
    text-align: center; /* Center-align the footer text */
  }

  .timeRemaining {
    font-size: 2rem; /* Adjust the font size of the countdown numbers */
  }
  .circular-progress {
    margin-left: -350px;
  }
  .raised-goal {
    margin-right: -150px;
    margin-top: -50px;
  }
}
