/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.btn-primary {
    background-color: #800073 !important;
    border-color: #800073 !important;
}
a{
    color: #800073 !important;
}
